<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Файл, куда помещаются (где хранятся) аутентификационные данные пользователей -->
    <add key="userAuthentDataFilePath" value="..\..\..\..\NewSceenSaver\bin\Debug\reg.xml"/>
    
    <!-- Время (в часах), в течение которого, по умолчанию, должен действовать вновь создаваемый аккаунт пользователя (а точнее, его пароль).
    7 дней * 24 часа = 168 часов -->
    <add key="userPasswordDefLifeTime" value="168"/>
    <add key="viewReader" value="smartCard"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
